aiosqlite
easy-pil
qrcode
python-dotenv
geopy
nominatim
mcstatus
timezonefinder
geopy
flask
mutagen
praw
prawcore
py-cord==2.0.0b4
PyNaCl
pyttsx3
requests
urllib3
youtube-dl
youtube-search-python
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
matplotlib
python-dotenv
easy_pil
discord_pretty_help
pyfiglet
mcstatus
discord-ext-ipc
pillow>=9.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability
Base-69
