easy-pil
qrcode
python-dotenv
geopy
nominatim
timezonefinder
mutagen
praw
prawcore
py-cord==2.0.0b4
PyNaCl
pyttsx3
requests
urllib3
aiofiles
matplotlib
python-dotenv
easy_pil
discord_pretty_help
pyfiglet
mcstatus
Base-69
