aiosqlite
easy-pil
qrcode
python-dotenv
os-sys
geopy
nominatim
mcstatus
timezonefinder
geopy
nominatim
google-api-python-client
googlesearch-python
gTTS
lxml
mutagen
praw
prawcore
py-cord==2.0.0b4
PyNaCl
pyttsx3
requests
urllib3
youtube-dl
youtube-search-python
wikipedia
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
lyricsgenius
matplotlib

