<!DOCTYPE html>
<html>
  <head>
    <title>Simplex Bot</title>
    <link rel="stylesheet" href="/static/index.css" />

  </head>
  <body>
    <h1>Simplex Bot Dashboard!</h1>
    <div class="picker">
      <h3>Hello, {{name}}! Lets manage the {{servername}} server</h3>
      <hr />
      
        <h3>Change Prefix. Your current prefix is {{prefix}}</h3>
        <form action="/dashboard/{{guild_id}}/change_prefix" method="POST">
          <input type="text" name="prefix" placeholder="New Prefix" />
          <input type="submit" value="Change Prefix" />
        </form>
        <hr />



        <h3>Select A cog to manage</h3>
        

        
    </div>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="Michaelrbparker" data-description="Support me on Buy me a coffee!" data-message="Thank you for using simplex. If you want to help keep the bot alive please consider supporting" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>