<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/index.css" />
  </head>
  <body>
    <h1>{{guildname}} xp leaderboard!</h1>

      <hr />
      <section class="lbcards">
        <!-- for user in the lb add a card -->
        {% for member in xp_leaderboard %}

        <div class="lbcard">
          <p>Username = {{member.name}}</p>
          <p>XP = {{member.xp}}</p>
          <p>Level = {{member.level}}</p>
        </div>

        {% endfor %}


      </section>
  </body>
</html>